body {
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;
  color: #333;
}

.form-container {
  width: 320px;
  margin: 80px auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input,
select {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #0078ff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #005fcc;
}

p {
  margin-top: 10px;
  color: green;
}
p:has(.error) {
  color: red;
}
